<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCareApp">
        <activity android:name=".activity.ResetPasswordActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.doctor.DoctorVideoLessonsActivity"
            tools:ignore="Instantiatable" />

        <activity android:name=".activity.doctor.MyCalendarDoctorActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.AppointementActivity" />
        <activity android:name=".FicheInfo" />
        <activity android:name=".activity.patient.PatientInfoActivity" />
        <activity android:name=".DossierMedical" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".PatientRequestPage" />
        <activity android:name=".activity.doctor.DoctorHomeActivity" />
        <activity android:name=".activity.doctor.EditProfileDoctorActivity" />
        <activity android:name=".activity.ConfirmedAppointmensActivity" />
        <activity android:name=".activity.patient.PatientAppointementsActivity" />
        <activity android:name=".activity.patient.ProfilePatientActivity" />
        <activity android:name=".patient.MyDoctorsActivity" />
        <activity android:name=".admin.AdminPanelActivity" />
        <activity android:name=".admin.ManageDoctorsActivity" />
        <activity android:name=".admin.ManageUsersActivity" />
        <activity android:name=".admin.AdminSettingsActivity" />
        <activity android:name=".admin.AdminReportsActivity" />
        <activity android:name=".admin.AdminProfileActivity" />
        <activity android:name=".admin.adminLogin.AdminSetupActivity" />
        <activity android:name=".patient.FirstSigninPatientActivity" />
        <activity android:name=".testinfo.AddTestPatientsActivity"/>
        <activity android:name=".activity.doctor.AddPatientActivity"/>

        <activity android:name=".activity.doctor.ProfileDoctorActivity" />
        <activity android:name=".activity.patient.EditProfilePatientActivity" />
        <activity android:name=".activity.doctor.DoctorAppointementActivity" />
        <activity android:name=".activity.FicheActivity" />
        <activity android:name=".doctor.MyPatientsActivity" />
        <activity android:name=".activity.SearchPatActivity" />
        <activity android:name=".activity.FirstSigninActivity" />
        <activity android:name=".activity.VideoListActivity" />
        <activity android:name=".activity.patient.PatientVideoLessonActivity"
            tools:targetApi="26" />
        <activity android:name=".activity.patient.FullScreenVideoActivity"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity android:name=".activity.doctor.DoctorDetailActivity"/>


        <activity android:name=".activity.patient.HomeActivity" />
        <activity android:name=".activity.patient.MedicinesActivity" />
        <activity android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>